<div>
    <nav-bar></nav-bar>
    <b-container>
        <h2>{{headerLabel}}</h2>
        <b-form-group>
            <b-row>
                <b-col md="6" offset-md="3">
                    <b-img v-show="isImagePreviewShowing" ref="img-4-send" v-bind:src="img_src" fluid alt="Выберите изображение" />
                </b-col>
            </b-row>
        </b-form-group>
        <b-form-group>
        </b-form-group>
        <b-form-group>
            <b-row>
                <b-col md="6" offset-md="3">
                    <b-form-textarea :rows="7" :max-rows="7" v-model="message4Img" placeholder="Введите текст к картинке/файлу, не более 1024 символов"></b-form-textarea>
                    <b-alert variant="warning" dismissible :show="showWarningAlert" @dismissed="showWarningAlert = !showWarningAlert">
                        {{alertMessage}}
                    </b-alert>
                    <b-alert variant="danger" dismissible :show="showDangerAlert" @dismissed="showDangerAlert = !showDangerAlert">
                        {{alertMessage}}
                    </b-alert>
                    <b-alert variant="success" dismissible :show="showSuccessAlert" @dismissed="showSuccessAlert = !showSuccessAlert">
                        {{alertMessage}}
                    </b-alert>
                </b-col>
            </b-row>
        </b-form-group>
        <b-form-group style="text-align: center;">
            <b-row>
                <b-col md="6" offset-md="3">
                    <b-form-group>
                        <b-form-file ref="imageInput" v-show="isImageChooseShowing" v-model="selectedImg" :state="Boolean(selectedImg)" accept="image/jpeg, image/png"
                            placeholder="Выберите изображение!" drop-placeholder="Перетащите файл сюда!"
                            v-on:change="imageSelected" />
                    </b-form-group>
                    <b-form-group>
                        <b-form-file ref="fileInput" v-show="isFileChooseShowing" v-model="fileForSend" :state="Boolean(fileForSend)"
                            placeholder="Выберите файл!" drop-placeholder="Перетащите файл сюда!"
                            v-on:change="fileChoosed" />
                    </b-form-group>
                </b-col>
                <b-col md="6" offset-md="3">
                    <input ref="input_img" type="file" v-on:change="imageSelected" style="display: none">
                    <b-btn-group style="margin-left: 5px">
                        <b-button v-bind:disabled="isSendButtonDisabled" v-if="showSendBtn" variant="danger" v-on:click="send">Отправить!</b-button>
                    </b-btn-group>
                    <b-btn-group style="margin-left: 5px">
                        <b-button v-bind:disabled="isSendButtonDisabled" v-if="showSendBtn" v-on:click="cancel">Отмeна</b-button>
                    </b-btn-group>
                </b-col>
            </b-row>
        </b-form-group>
    </b-container>
</div>