<div>
    <nav-bar></nav-bar>
    <loading :isLoading="isLoading"></loading>
    <b-container v-if="!isLoading">
        <b-row class="w-100 text-right create-action">
            <b-col class="text-left text-secondary">
                Кол-во товаров с аннотацией: {{annotationsTotalCount}}<br>
                Кол-во товаров с изображением: {{goodsCountWithImages}}<br>
                Кол-во товаров без изображений: {{goodsCountWithoutImages}}
            </b-col>
            <b-col>
                <router-link to="/api/annotation/create">
                    <b-button variant="danger">Создать аннотацию</b-button>
                </router-link>
            </b-col>
        </b-row>

        <b-table class="w-100" primary-key="annotationId" bordered hover :fields="tableData.fields" :items="tableData.items"
            head-variant="light" responsive>
            <template slot="usingWay" slot-scope="row">
                <a href="#" v-on:click="selectedAnnotation=row.item; editAnnotation(row.item, 'usingWay');">
                    <i v-if="row.item.usingWay" class="material-icons done_all">done_all</i>
                    <i v-else class="material-icons done">done</i>
                </a>
            </template>
            <template slot="forWhatIsUse" slot-scope="row">
                <a href="#" v-on:click="selectedAnnotation=row.item; editAnnotation(row.item, 'forWhatIsUse');">
                    <i v-if="row.item.forWhatIsUse" class="material-icons done_all">done_all</i>
                    <i v-else class="material-icons done">done</i>
                </a>
            </template>
            <template slot="specialInstructions" slot-scope="row">
                <a href="#" v-on:click="selectedAnnotation=row.item; editAnnotation(row.item, 'specialInstructions');">
                    <i v-if="row.item.specialInstructions" class="material-icons done_all">done_all</i>
                    <i v-else class="material-icons done">done</i>
                </a>
            </template>
            <template slot="сontraIndicators" slot-scope="row">
                <a href="#" v-on:click="selectedAnnotation=row.item; editAnnotation(row.item, 'сontraIndicators');">
                    <i v-if="row.item.сontraIndicators" class="material-icons done_all">done_all</i>
                    <i v-else class="material-icons done">done</i>
                </a>
            </template>
            <template slot="sideEffects" slot-scope="row">
                <a href="#" v-on:click="selectedAnnotation=row.item; editAnnotation(row.item, 'sideEffects');">
                    <i v-if="row.item.sideEffects" class="material-icons done_all">done_all</i>
                    <i v-else class="material-icons done">done</i>
                </a>
            </template>
            <template slot="isImageExists" slot-scope="row">
                <a href="#" v-on:click="selectedAnnotation=row.item; chooseImg()">
                    <i v-if="row.item.isImageExists" class="material-icons done_all">done_all</i>
                    <i v-else class="material-icons done">done</i>
                </a>
            </template>
        </b-table>
        <b-pagination align="center" :total-rows="annotationsTotalCount" v-model="currentPage" :per-page="dataRowsPerPage"
            :limit=8 style="margin-bottom: 5%">
        </b-pagination>

        <b-modal size="lg" v-model="isAnnotationEditWindowShowing" centered>
            <template slot="modal-title">
                <p class="text-left" style="margin-left: 5pt">
                    <strong>Товар:</strong> {{selectedAnnotation.drugName}}<br>
                    <strong>Производитель:</strong> {{selectedAnnotation.producer}}
                </p>
            </template>
            <b-container>
                <b-form-group :label="editAnnotationPropertyText" label-cols-md="4">
                    <b-row>
                        <b-col>
                            <b-form-textarea :rows="7" :max-rows="7" v-model="textForEdit"/>
                        </b-col>
                    </b-row>
                </b-form-group>
                <b-alert variant="danger" dismissible fade :show="showDangerAlert" @dismissed="showDangerAlert = !showDangerAlert">{{alertMessage}}</b-alert>
                <b-alert variant="success" dismissible fade :show="showSuccessAlert" @dismissed="showSuccessAlert = !showSuccessAlert">{{alertMessage}}</b-alert>
            </b-container>
            <div slot="modal-footer" class="w-100 text-right">
                <b-button size="md" variant="danger" v-on:click="updateAnnotation">Сохранить</b-button>
                <b-button size="md" v-on:click="isAnnotationEditWindowShowing=false">Отмена</b-button>
            </div>
        </b-modal>
        <b-modal v-model="isModalWindowShowing" :title="modalTitle" centered cancel-disabled>
            <p>{{modalText}}</p>
        </b-modal>
        <input ref="input_img" type="file" v-on:change="imageSelected" style="display: none">
    </b-container>
</div>